<!DOCTYPE html>
<html lang="zh-CN">
	<link rel="stylesheet" href="http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css">
	<!--link href="Cover%20Template%20for%20Bootstrap_files/cover.css" rel="stylesheet"-->
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>
		输入新作者信息
	</title>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
	      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        	<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	      	</button>
	      	<a class="nav-brand" href="#">
	      		<img alt="HIT-group" src="/static/brand.gif" />
	      	</a>
	      	<p class="navbar-text"><strong>图书管理系统</strong></p>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    	<ul class="nav navbar-nav" style="float:left">
				<li role="presentation" class="active"><a href="/">查询页面</a></li>
		    	<li role="presentation" class="active"><a href="/addbook">添加图书</a></li>
		    	<li role="presentation" class="active"><a href="/addauthor">添加作者</a></li>
		    </ul>
	    </div>
	</div>
</nav>
<div class="jumbotron" style="background-image:url(backgroundimage.jpg)">
	<form method="post" action="/addauthor" onsubmit="Checkform()">
		<div class="container" style="text-align:center">
			<br />
			{% if messages %}
			<div class="row">
				<p>{{ messages }}</p>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-md-1 col-md-offset-4"><label >NAME</label></div>
				<div class="col-md-4"><input type="Text" name="name" id="name" onblur="Checkcountry(this,'nametips')"></div>
				<div class="col-md-2"><label id="nametips" style="color:red"></label></div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-1 col-md-offset-4"><label >Age</label></div>
				<div class="col-md-4"><input type="text" name="age" id="age" onblur="Checkage(this)"></div>
				<div class="col-md-2"><label id="agetips" style="color:red"></label></div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-1 col-md-offset-4"><label>Country</label></div>
				<div class="col-md-4"><input type="text" name="country" id="country" onblur="Checkcountry(this,'countrytips')"></div>
				<div class="col-md-2"><label id="countrytips" style="color:red"></label></div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-4 col-md-offset-5">
				<a href="http://www.baidu.com/">
					<input class="btn btn-primary" style="height:30px;width:100%" type="submit" id="submit" value="提交">
				</a>
			</div>
		</div>
	</form>
</div>
{% if info %}
	<script>
		alert('{{info}}');
	</script>
{%endif%}
</body>
</html>

<script>
	function Checkform() {
		if (Checkcountry(document.getElementById("country"),"countrytips") &&
			Checkage(document.getElementById("age")) &&
			Checkcountry(document.getElementById("name"),"nametips")
			){
			return true
		}
		else return false;
	}
	function Checkcountry(id,name){
		if(id.value.length <= 0){
			document.getElementById(name).innerHTML = "不可省略";
			document.getElementById("submit").disabled = "disabled";
			return false;
		}
		else if(id.value.length > 100){
			document.getElementById(name).innerHTML = "过长(<100)";
			document.getElementById("submit").disabled = "disabled";
			return false;
		}
		else{
			document.getElementById(name).innerHTML = "";
			document.getElementById("submit").disabled = "";
		}
	}
 	function Checkage(id){
		if(!(id.value%1===0 && id.value > 0 && id.value < 200)){
			document.getElementById("agetips").innerHTML = "格式错误";
			document.getElementById("submit").disabled = "disabled";
			return false;
		}
		else if(id.value.length <= 0){
			document.getElementById("agetips").innerHTML = "不可省略";
			document.getElementById("submit").disabled = "disabled";
			return false;
		}
		else{
			document.getElementById("agetips").innerHTML = "";
			document.getElementById("submit").disabled = "";
		}
	}
</script>